/* Move down content because we have a fixed navbar that is 50px tall */
/*body {*/
/*padding-top: 50px;*/
/*padding-bottom: 20px;*/
/*}*/

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
/*.body-content {*/
/*padding-left: 15px;*/
/*padding-right: 15px;*/
/*}*/

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.profile-thumbnail {
    position: absolute;
}

.profile-header {
    min-height: 260px;
    margin-left: 280px;
}


.page-footer {
    padding-top: 9px;
    margin: 20px 0 40px;
    border-top: 1px solid #eee;
}

ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}

ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

ul.posts li.post:hover {
    background-color: #f0f0f0;
}

div.post-date {
    float: right;
}

div.post-author {
    font-weight: bold;
}

div.post-thumbnail {
    position: absolute;
}

div.post-content {
    margin-left: 48px;
    min-height: 48px;
}